<h2>By Country</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="buscar()" autocomplete="off">
            <input type="text"
                    name="query"
                    class="form-control"
                    [(ngModel)]="termino"
                    placeholder="Buscar por pais..."
            >
        </form>
    </div>
</div>
<hr>
<div *ngIf="hayError"
class="alert alert-danger">
    No se encontró ningún país llamado {{termino}}
</div>
<div *ngIf="paises.length >0" class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Población</th>
                    <th>Code</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pais of paises; let i = index">
                    <td>{{i+1}}</td>
                    <td><img class="small-flag" src="{{paises[i].flags.svg}}" alt=""></td>
                    <td>{{paises[i].name.common}}</td>
                    <td>{{paises[i].population |number}}</td>
                    <td><a [routerLink]="['/pais',pais.cca2]">{{paises[i].cca2}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>